/* 
Autor: Ezequiel Matias Carbonell
Fecha: 21/03/2024
Descripción: Este archivo CSS contiene los estilos para el index de la pagina principal de la OnePage
*/
html body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-image: linear-gradient(180deg,blue,white);
}

section{
  border: solid #1100ff .6rem;
  border-radius: 20px;
}

.menu{
    display: flex;
    position: sticky;
    margin: 0;
    padding: 0%;
    background-image:linear-gradient(60deg,blue,white);
    height: 5rem;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
}

.logo{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    font-size: 2rem;
}
.logo>a{
    margin-left: 40px;
}

li{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}
li a{
    text-decoration: none;
    width: 100%;
}
/* MENU HAMBURGESA /////////////////////////////////////////////////////////////////*/
.respmenu{
    display: none;
}
@media (max-width:920px) {
    
    .nav{
        display: none;
    }
      
    .respmenu a {
        
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 10px 20px;
        text-align: center;
        border-bottom: 2px solid #00000020;;
        min-width: 400px;
        background: #ffffff;;
        font-variant: small-caps;
        text-shadow: 1px 1px black;
    }
    
    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 1rem 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 48px;
        height: 48px;
      }
      
      .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 48px;
        pointer-events: none;
      }
      
      .respmenu input[type="checkbox"] {
        opacity: 0;
      }
      
      .respmenu {
        color: white;
        background: #123456;
        min-height: 48px;
        display: flex;
      }
      .respmenu nav ul{
        margin: 0;
        opacity: .9;
        padding: 0;
      }
      
      .respmenu nav {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        top: 5rem;
        animation: MenuHamburguesa 1s ease both;
        
      }
      @keyframes MenuHamburguesa {
        from{
            transform: translateY(-230px);
          }
        to{
            transform: translateY(0px);
          }
      }
      
      .respmenu input:checked ~ nav {
        display: block;
        transition: all 5s;
      }
      
      .respmenu input:checked ~ .fa-bars {
        display: none;
      }
      
      .respmenu input:not(:checked) ~ .fa-times {
        display: none;
      }
}

/* MENU HAMBURGESA /////////////////////////////////////////////////////////////////*/
/* .respmenu {
  display: none;
}
@media (max-width: 920px) {
  nav ul li {
    display: block;
  }
  
  .nav {
    display: none;
  }

  .respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #00000020;
    background: #00000020;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"],
  .respmenu .fa-bars,
  .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }

  .respmenu .fa-bars,
  .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
  }

  .respmenu input[type="checkbox"] {
    opacity: 0;
  }

  .respmenu {
    color: white;
    min-height: 48px;
    display: flex;
  }

  .respmenu nav {
    display: none;
    animation: MenuHamburguesa 1s ease-in-out both;
  }

  @keyframes MenuHamburguesa {
    from {
      transform: translateY(-150px);
    }
    to {
      transform: translateY(0px);
    }
  }
  .respmenu input:checked ~ nav {
    position: absolute;
    width: 100%;
    display: block;
    height: auto;
    justify-content: center;
    animation: MenuHamburguesa 1s ease-in-out both;
  }
  nav {
    display: block;
    }
  
  nav ul {
    text-align: center;
  }

  .respmenu input:checked ~ .fa-bars {
    display: none;
  }

  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
} */

/*\\\\\\\\\\\\\\\\\\ SECCIÓN GRILLAS ////////////////// */
section.grilla{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 30px;
}
/* Animacion IMG //////////////////////////////// */

td div{
  animation: opacidad linear 2s infinite both;
}

@keyframes opacidad{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}

/* Formulario */
.form{
  position: relative;
  width: 70%;
  top: 1vh;
  left:15%;
  text-align: left;
  background-color: #99999923;
  border-radius: 5px;
  padding-top: 20px;
}
menu form{
  padding-top: 20px;
}
menu form>label{
  padding-left: 1rem;
}
menu form label+input{
  border:1px solid #ccc;
  width: 80%;
  padding: 1vw;
  margin: 1vw;
  box-sizing: border-box;
}
input[type = "submit"]{
  width: 64vw; 
  padding: 14px;
  color: white;
  background-color: #4caf50;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
input[type = "submit"]:hover{
  background-color: #45a049;
}
form p>input{
  cursor: pointer;
}
form p>input::after{
  content: "Porfavor de colocar una opción";
  font-size: 1vw;
  position: absolute;
  color: white;
  background-color: black;
  transition: 0.5s;
  right: 5px;
  opacity: 0;
  padding: 2px;
  padding-left: 5px;
}
form p>input:hover::after{
  opacity: 1;
}

/* Pie de pagina */

footer{
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
  text-align: center;
}
.aceptado{
  display: none;
  background-color: greenyellow;
  padding: 2rem;
  margin-right: 2.8rem;
  text-align: center;
  border-radius: 1rem;
}

.rechazado{
  display: none;
  background-color: red;
  padding: 2rem;
  margin-right: 2.8rem;
  text-align: center;
  border-radius: 1rem;
}
